.Component {
  display: block;
  width: 100%;
  outline: none;

  &:not(.Readonly):empty:before {
    content: "...";
    cursor: text;
    color: rgb(255 255 255 / 50%);
  }

  &:not(:focus) .Text.Selected {
    background: #1e90ff;
    color: white;
  }

  .Line {
    display: block;
  }

  .Text {
    display: inline;
    transition: font-size .2s ease-in-out;
  }
}
