.Component {
  display: block;
  outline: none;

  ::selection:window-inactive {
    background-color: transparent;
  }

  &:not(:focus) .Text.Selected {
    color:            black;
    //background-color: rgba(165, 165, 165, 0.6);
  }

  .Section, .Line {
    word-break: break-word;

    &:not(li) {
      display: block;
    }
  }

  .Text, .Link {
    display: inline;
  }

  .Link {
    text-decoration: none;
  }

  &:not(.Readonly) .Section.Empty:after {
    content: "...";
    cursor:  text;
    color:   rgb(255 255 255 / 50%);
  }
}
