.Component {
  display: block;
  width:   100%;
  outline: none;

  ::selection:window-inactive {
    background-color: transparent;
  }

  &:not(:focus) .Text.Selected {
    color:            black;
    background-color: rgba(165, 165, 165, 0.6);
  }

  .Line {
    display:    block;
    word-break: break-word;
  }

  .Text, .Link {
    display: inline;
  }

  .Link {
    text-decoration: none;
  }


  &:not(.Readonly) .Text {
    br {
      content: "&nbsp;" !important;

      &:after {
        content: "...";
        cursor:  text;
        color:   rgb(255 255 255 / 50%);
      }
    }
  }

  &:not(.Readonly) .Text:empty:before {
    content: "...";
    cursor:  text;
    color:   rgb(255 255 255 / 50%);
  }
}
