@import "variables";

.Component {
  padding:          0 4px;
  border-radius:    $border-radius;
  background-color: rgba(0, 0, 0, 0.2);
  transition:       color .2s ease-in-out, background-color .2s ease-in-out;

  &[hidden] {
    color:            rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    cursor:           pointer;
    user-select:      none;
  }

}
