.Component {
  flex:            1 1 auto;
  flex-flow:       column;
  min-width:       260px;
  max-width:       800px;
  grid-row-gap:    10px;

  .InputList {
    display:         flex;
    flex-flow:       column;
    flex:            1 1 auto;
    grid-row-gap:    10px;
    grid-column-gap: 10px;
  }
}
