@import "../../variables";

.Component {
  flex: 1 1 auto;
  flex-flow: column;
  overflow-y: auto;
  grid-row-gap: 10px;

  .PageHeader {

    .Masquerade {
      min-width: 150px;
    }

    .FileCollection {
      min-width: 150px;
    }
  }
}
