@import "../../variables";

.Component {
  flex: 1 0 auto;
  flex-flow: column;
  justify-content: space-between;

  .OptionList {
    flex-flow: row wrap;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
  }
}
