@import "../../variables";

.Component {
  flex:         1 1 auto;
  flex-flow:    column;
  grid-row-gap: 10px;
  overflow:     auto;

  .Overlay {
    position:        absolute;
    top:             0;
    left:            0;
    right:           0;
    bottom:          0;
    flex-flow:       column;
    justify-content: center;
    align-items:     center;
  }

  .OptionList {
    grid-column-gap: 10px;
  }

  .Content {
    flex-flow: column;

    &.Left {
      align-items: flex-start;
      min-width:   100px;
    }

    &.Center {
      align-items: center;
    }

    &.Right {
      align-items: flex-end;
    }

    .Preview {
      min-width:  100px;
      min-height: 100px;
    }

    .Caption {
      flex: 1 0 auto;
      flex-flow: column;
      width: 100%;
    }
  }
}

