@import "../../variables";

.Component {
  flex:         0 0 auto;
  flex-flow:    column;
  grid-row-gap: 5px;
  overflow:     auto;

  .Row {
    flex-flow:       row;
    grid-column-gap: 5px;
  }

  .Table {
    overflow: auto;

    table {
      border-spacing:  0;
      border-collapse: separate;

      tbody {

        tr {
          height: 32px;

          td {
            padding: 0 0.5em;

            &.BorderTop {
              border-top: $border-width solid $border-color;
            }

            &.BorderTopMuted {
              border-top: $border-width solid $disabled-muted-color
            }

            &.BorderRight {
              border-right: $border-width solid $border-color;
            }

            &.BorderRightMuted {
              border-right: $border-width solid $disabled-muted-color
            }

            &.BorderLeft {
              border-left: $border-width solid $border-color;
            }

            &.BorderLeftMuted {
              border-left: $border-width solid $disabled-muted-color
            }

            &.BorderBottom {
              border-bottom: $border-width solid $border-color;
            }

            &.BorderBottomMuted {
              border-bottom: $border-width solid $disabled-muted-color
            }

            &.BorderTopLeft {
              border-top-left-radius: $border-radius;
            }

            &.BorderTopRight {
              border-top-right-radius: $border-radius;
            }

            &.BorderBottomLeft {
              border-bottom-left-radius: $border-radius;
            }

            &.BorderBottomRight {
              border-bottom-right-radius: $border-radius;
            }
          }
        }
      }
    }
  }
}
