.Component {
  flex-flow: column;

  >.Input {
    width: 260px;
    align-self: center;
  }

  >.Button {
    width: 260px;
    align-self: center;
  }

  > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

