.Component {
  flex:         1 1 auto;
  flex-flow:    column;
  grid-row-gap: 10px;
  overflow:     auto;

  .Content {
    flex-flow: column;
    grid-row-gap: 10px;

    .Priority {
      flex-flow: row;
      justify-content: space-between;
    }
  }
}
