.Component {
  flex:            0 0 auto;
  grid-column-gap: 10px;

  .Content {
    display:     flex;
    flex:        1 1 auto;
    align-items: center;
    margin:      0 0 10px;
  }

  .ActionList {
    flex:            0 0 auto;
    grid-column-gap: 10px;
  }
}
