@import "../../variables";

.Component {
  flex:          0 0 auto;
  flex-flow:     row;
  background:    white;
  border-radius: 4px;
  border:        $border-width solid $border-color;
  transition:    .2s ease-in-out border;

  &.Disabled {
    background-color: $disabled-background-color;
    cursor:           default;
  }

  &:not(.Disabled) .Arrow {
    cursor: pointer;
  }

  .Input {
    flex:          1 1 auto;
    border:        none;
    border-radius: 0;
  }

  .Value {
    border:  none;
    outline: none;
  }

  .Arrow {
    flex:            0 0 auto;
    align-items:     center;
    justify-content: center;
    width:           30px;
    color:           black;
  }

  .Dropdown {
    left:                       0;
    right:                      0;
    color:                      black;
    background-color:           white;
    border:                     1px solid $border-color;
    border-bottom-left-radius:  $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
