$row-gap: 7px;
$col-gap: 10px;


.Component {
  flex:         1 1 auto;
  flex-flow:    column;
  overflow:     auto;
  grid-row-gap: $row-gap;

  &:not(.Horizontal) {
    .List {
      flex-flow: column;

      .Available {
        flex: 1 1 auto;
      }
    }
  }

  &.Horizontal {
    .List {
      flex-flow: row;

      .Available, .Selected {
        width: calc(50% - 5px);
      }
    }
  }


  .Search {
    grid-column-gap: $col-gap;

    .Input {
      flex: 1 1 auto;
    }
  }

  .List {
    grid-row-gap:    $row-gap;;
    grid-column-gap: $col-gap;

    .Available, .Selected {
      flex:         0 0 auto;
      flex-flow:    column;
      grid-row-gap: $row-gap;
    }
  }

  .Item {
    flex:            0 0 auto;
    grid-column-gap: 5px;
    cursor:          pointer;

    &:hover {
      .Container .Text {
        text-decoration: underline;
      }

      .Delete {
        visibility: visible;
      }
    }

    .Container {
      flex:            1 1 auto;
      grid-column-gap: 5px;

      .Icon {
        font-size:   12px;
        line-height: 12px;
      }

      .Text {
        flex:        1 1 auto;
        height:      18px;
        align-items: center;
      }
    }

    .Icon, .Delete {
      flex:            0 0 auto;
      width:           18px;
      height:          18px;
      align-items:     center;
      justify-content: center;
    }

    .Delete {
      visibility:  hidden;
      font-size:   16px;
      line-height: 16px;
    }
  }
}
