@import "../../variables";

.Component {
  flex:          0 0 auto;
  flex-flow:     column;
  padding:       0 0 0 4px;
  background:    white;
  border-radius: 4px;
  border:        $border-width solid $border-color;
  transition:    .2s ease-in-out border;
  cursor:        text;

  .Label {
    font-weight: bold;
    font-size:   11px;
    color:       $text-color-muted;

    .Required {
      padding-right: 2px;
      color:         $text-color-error-light;
    }

    .Error {

    }
  }

  .Value {
    flex:    1 1 auto;
    border:  none;
    outline: none;
  }
}
