@import "../../variables";

.Component {
  flex-flow:    column;
  grid-row-gap: 5px;

  .Header {
    flex:        1 1 auto;
    align-items: center;
    grid-column-gap: 30px;

    .Text {
      flex: 1 1 auto;
    }

    .Value {
      flex:            0 0 auto;
      grid-column-gap: 5px;

      .Name {
        justify-content: flex-end;
      }
    }
  }

  .List {
    .Wrapper {
      flex: 1 1 auto;

      .Button {
        flex: 1 1 auto;
        font-size: 20px;
        z-index:   0;

        &:focus {
          z-index: 1;
        }
      }

      &[data-active="false"] .Button:not(:hover) {
        color:            $disabled-color;
        background-color: $border-color;
      }

      &:not(:first-of-type) .Button {
        border-top-left-radius:    0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-of-type) .Button {
        margin-right:               -2px;
        border-top-right-radius:    0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
