@import "../../variables";

.Component {
  flex-flow:       row;
  align-items:     center;
  justify-content: center;

  .Option {
    flex:          0 1 auto;
    border-radius: 0;

    &:first-child {
      border-top-left-radius:    $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius:    $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.Active:hover {
      color: white;
    }

    &:not(.Active) {
      color:            $disabled-color;
      background-color: $border-color;

      &:hover {
        color: $focus-color;
      }
    }
  }
}

