@import "variables";

.Component {

  flex:          1 1 auto;
  flex-flow:     column;
  border:        $border-width solid $border-color;
  border-radius: $border-radius;
  outline:       none;

  &:focus {
    border-color: $focus-color;
  }

}
