@import "../../variables";

.Component {
  flex:      1 1 auto;
  flex-flow: column;

  .Dropdown {
    flex-flow:        column;
    position:         absolute;
    top:              100%;
    z-index:          100;
    border-radius:    $border-radius;
    border:           $border-width solid $border-color;
    background-color: #5a318e;
  }
}
