.Component {
  flex:         1 1 auto;
  flex-flow:    column;
  grid-row-gap: 10px;
  overflow:     auto;

  .Container {
    flex:            1 1 auto;
    grid-column-gap: 15px;
    overflow:        auto;

    .Content {
      flex:         1 1 auto;
      flex-flow:    column;
      grid-row-gap: 10px;
      overflow:     auto;

      .Info {
        flex:            0 0 auto;
        flex-flow:       row wrap;
        grid-row-gap:    10px;
        grid-column-gap: 10px;

        .Name {
          flex:      1 0 auto;
          width:     calc(50% - 5px);
          min-width: 300px;
        }

        .Path {
          flex:      1 0 auto;
          width:     calc(50% - 5px);
          min-width: 300px;
        }
      }

      .Text {
        flex:            1 1 auto;
        flex-flow:       row wrap;
        grid-row-gap:    10px;
        grid-column-gap: 10px;
        overflow:        auto;

        .Summary {
          flex:       1 1 auto;
          resize:     none;
          min-width:  500px;
          min-height: calc(33% - 10px);
          overflow:   auto;
        }

        .Editor {
          flex:       1 1 auto;
          resize:     none;
          min-width:  500px;
          min-height: calc(66% - 10px);
          overflow:   auto;
        }
      }

      .Action {
        flex:            0 0 auto;
        flex-flow:       row;
        grid-column-gap: 10px;
      }
    }

    .Sidebar {
      flex:         0 0 auto;
      flex-flow:    column;
      width:        200px;
      grid-row-gap: 10px;

      .Privacy {
        flex-flow:    column;
        grid-row-gap: 10px;
      }

      .ManageReference {
      }

      .ReferenceList {
        flex:         1 1 auto;
        flex-flow:    column;
        grid-row-gap: 10px;
        overflow-x:   hidden;
        overflow-y:   auto;

        .Reference {
          grid-column-gap: 5px;

          .ReferenceInsert {
            font-size: 18px;
          }

          .ReferencePreview {

          }

          .ReferenceText {
            flex:            0 1 auto;
            flex-flow:       column;
            overflow:        hidden;
            justify-content: center;

            .ReferenceName, .ReferenceID {
              flex:        1 1 auto;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
