@import "../../variables";

$lane-width: 200px;

.Component {
  flex:         1 1 auto;
  flex-flow:    column;
  grid-row-gap: 10px;
  overflow:     auto;

  .Placeholder {

  }

  .Header {
    flex:      0 0 auto;
    flex-flow: row;
  }

  .Content {
    flex:         1 1 auto;
    flex-flow:    row;
    overflow:     auto;
    grid-row-gap: 10px;

    .Sidebar {
      flex:         0 0 auto;
      flex-flow:    column;
      width:        50px;
      grid-row-gap: 10px;

      .Category {
        font-size: 20px;
      }
    }

    .LaneList {
      flex:            1 1 auto;
      flex-flow:       row;
      grid-column-gap: 10px;
      overflow:        auto;

      .Lane {
        flex:          0 0 auto;
        flex-flow:     column;
        align-self:    flex-start;
        grid-row-gap:  10px;
        width:         $lane-width;
        border-radius: $border-radius;

        .LaneContent {
          flex:      0 0 auto;
          flex-flow: column;
          cursor:    auto;
        }

        .CardList {
          flex:         0 0 auto;
          flex-flow:    column;
          grid-row-gap: 10px;

          .Card {
            flex:          0 0 auto;
            flex-flow:     column;
            grid-row-gap:  5px;
            width:         100%;
            padding:       10px;
            border:        1px solid $border-color;
            border-radius: $border-radius;
            background:    $background-secondary-color;
            cursor:        grab;

            &:hover {
              .ActionList {
                visibility: visible;
              }
            }

            .CardContent {
              flex:      0 0 auto;
              flex-flow: column;
              cursor:    auto;
            }

            .ActionList {
              visibility: hidden;
            }
          }

          .CardAdd {
            flex:  0 0 auto;
            width: 100%;
          }
        }
      }

      .LaneAdd {
        width: $lane-width;
      }
    }

    .Lane, .Card {

      > * {
        cursor: auto;
      }

      &[data-active="true"] {
        cursor: grabbing;
      }
    }

    .ActionList {
      flex:            0 0 auto;
      grid-column-gap: 5px;
      justify-content: flex-end;

      .ActionDelete, .ActionEdit {
        padding:    5px;
        cursor:     pointer;
        color:      rgba(0, 0, 0, 0.3);
        transition: color .2s ease-in-out;

        &:hover {
          color: white;
        }
      }

      .ActionDelete {
        font-size: 16px;
      }

      .ActionEdit {

      }

      .ActionDrag {
        flex:        1 1 auto;
        user-select: none;
        cursor:      grab;

        &:hover {
          &:before {
            border-color: white;
          }

          &:after {
            border-color: white;
          }
        }

        &:before, &:after {
          content:    " ";
          position:   absolute;
          width:      28px;
          left:       calc(50% - 14px);
          right:      calc(50% - 14px);
          transition: border-color .2s ease-in-out;
        }

        $color:      rgba(0, 0, 0, 0.3);

        &:before {
          top:           6px;
          border-bottom: 4px dotted $color;
        }

        &:after {
          bottom:     6px;
          border-top: 4px dotted $color;
        }
      }
    }
  }
}
