.dialog {
  display:  none;
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  z-index:  100;

  &[data-active=true] {
    display: flex;
  }

  > *:not(:first-child) {
    display: none;
  }
}
