@import "../../variables";

.Component {
  flex: 1 1 auto;
  flex-flow: column;
  overflow: auto;
  grid-row-gap: 15px;

  .Toolbar {
    flex-flow: row wrap;
    justify-content: space-between;

    .Left, .Right {
      grid-row-gap: 10px;
      grid-column-gap: 5px;
    }

    .FontFamily {
      width: 150px;
    }

    .FontSize {
      width: 45px;
    }

    .FontLength {
      width: 50px;
    }
  }

  &.Readonly {

    .BlockList {
      flex: 0 0 auto;
      overflow: auto;
    }
  }

  .BlockList {
    flex: 1 1 auto;
    flex-flow: column;
    grid-row-gap: 15px;
    overflow: auto;

    .Block {
      flex: 0 0 auto;
      min-height: 32px;
      grid-column-gap: 10px;

      &:empty {
        display: none;
      }

      .BlockHandle {
        flex: 0 0 auto;
        align-items: center;
        width: 16px;
        border-right: $border-width solid $border-color;

        &:before {
          content: " ";
          width: 2px;
          height: 25px;
          border-left: 4px dotted $border-color;
          border-right: 4px dotted $border-color;
          cursor: grab;
        }
      }

      .PageBlock {
        flex: 1 1 auto;
      }

      .BlockActionList {
        flex-flow: column;
        grid-row-gap: 10px;
      }
    }
  }

  .BlockBar {
    flex-flow: row wrap;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
  }
}
