.Component {
  flex:            1 1 auto;
  grid-column-gap: 15px;
  overflow-x:      hidden;
  overflow-y:      auto;

  .Content {
    flex:         1 1 auto;
    flex-flow:    column;
    grid-row-gap: 10px;
    overflow-x:   hidden;
    overflow-y:   auto;

    .List {
      flex:         1 1 auto;
      grid-row-gap: 10px;
      overflow-x:   hidden;
      overflow-y:   auto;

      .Loader {

      }

      .Page {
        flex:         1 1 auto;
        flex-flow:    column;
        grid-row-gap: 10px;
      }
    }

    .Pagination {
      align-self: center;
    }
  }

  .Sidebar {
    flex:         0 0 auto;
    flex-flow:    column;
    grid-row-gap: 10px;
    width:        200px;

    .Create {
      flex-flow: column;
    }
  }

}
